<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*" mustMatch="true">
  <serverUrls>
    <serverUrl url="http://sampleserver1.arcgisonline.com/ArcGIS/rest/services"
               matchAll="true"/>
    <serverUrl url="http://sampleserver2.arcgisonline.com/ArcGIS/rest/services"
               matchAll="true"/>
    <serverUrl url="http://sampleserver3.arcgisonline.com/ArcGIS/rest/services"
               matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
